name: Release Nuget Package

on:
  push:
    branches: [ main ]

jobs:
  release:
   if: "contains(toJSON(github.event.commits.*.message), '[Release]')"
   runs-on: ubuntu-latest

   steps:
   - uses: actions/checkout@v5
   - name: Setup .NET
     uses: actions/setup-dotnet@v5
     with:
        dotnet-version: 10.0.x
   - name: Restore dependencies
     run: dotnet restore
   - name: Build TwitchLib.EventSub.Webhooks
     run: dotnet build -c Release --no-restore
   - name: Pack TwitchLib.EventSub.Webhooks
     run: dotnet pack ./TwitchLib.EventSub.Webhooks/TwitchLib.EventSub.Webhooks.csproj -v normal -c Release -o nugets --no-build
   - name: Push to Nuget
     run: dotnet nuget push "./nugets/*.nupkg" -k ${{ secrets.API_NUGET_TOKEN }} -s https://api.nuget.org/v3/index.json